.navbar{
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border-radius: 50%;
    width: 33%;
    background-color: red;
    float: left;
}
.botones{
    list-style-type: none;
    width: 30%;
    float: left;
}
.botton{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin: 10px;
    background-color: wheat;
}
body{
    background: linear-gradient(125deg,skyblue 50%,purple 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}